body {
    background-image: url('/media/money1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: auto;
}

.container {
    position: relative;
    z-index: 0;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
}


.modal {
    z-index: 1050;
}

.modal-backdrop {
    z-index: 1040;
}

.table-container {
    max-height: 400px;
    overflow-y: auto;
    position: relative;
}

.table thead th {
    position: sticky;
    top: 0;
    background: #f7f7f7;
    z-index: 2;
    text-align: center;
    box-shadow: inset 0 -1px 0 #dee2e6, inset 0 2px 0 #dee2e6;
}

.table thead tr:nth-child(1) th {
    top: 0;
    z-index: 3;
}

.table thead tr:nth-child(2) th {
    top: 38px;
}
